//Colors

$color-background-primary: #fae596;
$color-background-secondary: #fff1bb;
$color-primary: #3fb0ac;
$color-secondary: #87c8b2;
$color-main-text: #173e43;
$color-gray: #dddfd4;

//Fonts
$font-main-text: sans-serif;


//Responsive breakpoints
$bp-large: 50em;      //800px
$bp-medium: 37em;      //592px
$bp-small: 25em;     //592px
