html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: linear-gradient(to right bottom, rgba(250, 229, 150, 0.9), rgba(255, 241, 187, 0.9)); }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #173e43;
  padding: 3rem;
  font-size: 1.5rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 37em) {
    body {
      padding: 2rem; } }
  @media only screen and (max-width: 25em) {
    body {
      padding: 1rem; } }

.app {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 1fr [full-end]; }
  @media only screen and (max-width: 37em) {
    .app {
      grid-template-columns: [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end]; } }

.main {
  display: grid;
  grid-column: content-start/ content-end; }

a {
  color: rgba(0, 140, 255, 0.726);
  text-decoration: none; }

.contact {
  display: grid;
  grid-column: content-start / content-end; }

.cover {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.8), rgba(63, 176, 172, 0.8)), url(../images/cover-picture.jpg);
  background-size: cover;
  display: grid;
  grid-gap: 2rem;
  grid-column: content-start / content-end;
  grid-template-rows: 1fr min-content min-content min-content 3fr;
  color: #173e43;
  background-attachment: fixed; }

.cover-title {
  font-size: 5rem;
  align-self: center;
  justify-self: center;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;
  margin-top: 3rem;
  opacity: .8; }

.cover-subtitle {
  grid-row: 3 / 4;
  font-size: 3rem;
  text-align: center;
  align-self: center;
  justify-self: center; }
  @media only screen and (max-width: 50em) {
    .cover-subtitle {
      font-size: 2rem; } }

.cover-subtitle2 {
  grid-row: 4 / 5;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: .5rem 2rem;
  margin-top: 3rem;
  opacity: .8; }

.footer {
  background-color: #393f4d;
  color: sans-serif;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: 50% 1fr;
  padding: 3rem 2rem;
  margin-top: 2rem; }

.header {
  display: grid;
  grid-column: content-start / content-end; }

.journey {
  display: grid;
  grid-column: content-start / content-end; }

.main-content {
  display: grid;
  grid-column: content-start/ content-end;
  grid-template-columns: [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end];
  grid-template-rows: 70vh; }

.portfolio {
  display: grid;
  grid-column: content-start / content-end; }

.skills {
  display: grid;
  grid-column: content-start / content-end; }

.testimonials {
  display: grid;
  grid-column: content-start / content-end; }
