html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: linear-gradient(to right bottom, rgba(250, 229, 150, 0.9), rgba(255, 241, 187, 0.9)); }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #173e43;
  padding: 3rem;
  font-size: 1.5rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 37em) {
    body {
      padding: 2rem; } }
  @media only screen and (max-width: 25em) {
    body {
      padding: 1rem; } }

.app {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 1fr [full-end]; }
  @media only screen and (max-width: 37em) {
    .app {
      grid-template-columns: [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end]; } }

.main {
  display: grid;
  grid-column: content-start/ content-end; }

a {
  color: rgba(0, 140, 255, 0.726);
  text-decoration: none; }

.text-content {
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 2rem; }

.title-card-container {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 30rem;
  margin: 5rem 0;
  color: #173e43 !important; }

.title-card-left {
  grid-column: 1 / 5; }

.title-card-center {
  grid-column: 2 / 6; }

.title-card-right {
  grid-column: 3 / 7; }

.title-card {
  display: grid;
  background: linear-gradient(to right bottom, #3fb0ac, #87c8b2);
  grid-template-rows: 1fr min-content min-content min-content 3fr;
  border-radius: 5rem;
  padding: 2rem; }

.skydiving {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.8), rgba(135, 200, 178, 0.8)), url(../images/cover-image.jpg) !important;
  background-size: cover; }

.handyman {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.95), rgba(135, 200, 178, 0.9)), url(../images/handyman.jpg) !important;
  background-size: cover; }

.journey-title {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.8), rgba(135, 200, 178, 0.8)), url(../images/journey.jpg) !important;
  background-size: cover; }

.portfolio-title {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.9), rgba(135, 200, 178, 0.9)), url(../images/portfolio.jpg) !important;
  background-size: cover; }

.testimonials-title {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.9), rgba(135, 200, 178, 0.9)), url(../images/testimonials.jpg) !important;
  background-size: cover; }

.contact-title {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.85), rgba(135, 200, 178, 0.85)), url(../images/contact-title.jpg) !important;
  background-size: cover; }

.title-card-main {
  font-size: 5rem;
  align-self: center;
  justify-self: center;
  grid-row: 2 / 3;
  text-align: center;
  margin-top: 3rem; }

.title-card-sub {
  font-size: 2rem;
  align-self: center;
  justify-self: center;
  grid-row: 3 / 4;
  text-align: center; }

.text-container {
  display: grid;
  grid-column: content-start/ content-end;
  margin: 5rem 0; }

.text-container-title {
  font-size: 4rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 3rem; }

.content-large {
  font-size: 4rem;
  line-height: 12rem; }

.contact {
  padding: 5rem 0;
  display: grid;
  grid-gap: 5rem;
  grid-column: content-start / content-end;
  justify-content: center;
  justify-items: center;
  text-align: center; }

.contact-content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 3rem 1fr;
  align-items: end;
  fill: #173e43; }

.contact-email-and-number {
  height: 4rem; }

.contact-icons {
  display: grid;
  padding-top: 3rem;
  grid-gap: 5rem;
  grid-template-columns: 4rem 4rem 4.1rem 4rem; }

.cover {
  background-image: linear-gradient(to right bottom, rgba(63, 176, 172, 0.8), rgba(63, 176, 172, 0.8)), url(../images/cover-image.jpg);
  background-size: cover;
  display: grid;
  grid-gap: 2rem;
  grid-column: content-start / content-end;
  grid-template-rows: 1fr min-content min-content min-content 3fr;
  color: #173e43;
  background-attachment: fixed; }

.cover-title {
  font-size: 5rem;
  align-self: center;
  justify-self: center;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;
  margin-top: 3rem;
  opacity: .8; }

.cover-subtitle {
  grid-row: 3 / 4;
  font-size: 3rem;
  text-align: center;
  align-self: center;
  justify-self: center; }
  @media only screen and (max-width: 50em) {
    .cover-subtitle {
      font-size: 2rem; } }

.cover-subtitle2 {
  grid-row: 4 / 5;
  font-size: 2rem;
  text-align: center;
  align-self: center;
  justify-self: center;
  padding: .5rem 2rem;
  margin-top: 3rem;
  opacity: .8; }

.footer {
  background-color: #393f4d;
  color: sans-serif;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: 50% 1fr;
  padding: 3rem 2rem;
  margin-top: 2rem; }

.header {
  display: grid;
  grid-column: content-start / content-end; }

.journey {
  padding: 0 3rem 5rem;
  display: grid;
  grid-column: content-start / content-end; }

.journey-cards {
  padding: 5rem 5rem 0rem;
  display: grid;
  grid-gap: 3rem;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 0.45fr)); }
  @media only screen and (max-width: 50em) {
    .journey-cards {
      padding-right: 3rem;
      padding-left: 3rem;
      padding-bottom: 5rem; } }
  @media only screen and (max-width: 37em) {
    .journey-cards {
      padding-right: 0rem;
      padding-left: 0rem;
      padding-bottom: 5rem; } }

.journey-card {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 4rem 1fr; }

.journey-icon {
  fill: #3fb0ac; }

.journey-card-text {
  font-size: 2rem; }

.content-text {
  padding: 5rem; }
  @media only screen and (max-width: 50em) {
    .content-text {
      padding: 3rem; } }
  @media only screen and (max-width: 37em) {
    .content-text {
      padding: 0rem; } }

.main-content {
  display: grid;
  grid-column: content-start/ content-end;
  grid-template-columns: [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end]; }

.portfolio {
  display: grid;
  grid-column: content-start / content-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 0.25fr));
  grid-gap: 3rem;
  padding: 5rem 0;
  justify-content: center; }

.portfolio-card {
  background-color: #87c8b2;
  display: grid;
  grid-template-rows: 20rem;
  border-radius: 1rem;
  border: solid black 1px;
  color: #173e43;
  transition: all .3s; }
  .portfolio-card:hover {
    transform: translateY(-0.1rem) scale(1.005);
    filter: brightness(95%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); }

.portfolio-card-image {
  width: 90%;
  height: 90%;
  justify-self: center;
  align-self: center;
  background-size: cover;
  grid-column: 1/-1;
  z-index: 55;
  border-radius: 1rem; }

.portfolio-card-display {
  display: grid;
  grid-template-rows: 1fr min-content 2fr;
  border-radius: 1rem; }

.portfolio-card-content {
  padding: 0 2rem 2rem;
  display: grid;
  grid-gap: 1rem;
  font-size: 1.2rem; }

.portfolio-card-title {
  justify-self: center;
  font-size: 2rem; }

.portfolio-card-links {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: min-content 1fr; }

.portfolio-card-links-icons {
  display: grid;
  padding: 0 5rem;
  grid-template-columns: 1fr 1fr; }

.portfolio-card-technologies {
  display: grid;
  padding-top: 1.5rem;
  grid-gap: 1.5rem;
  justify-content: center;
  grid-template-columns: min-content 1fr; }

.portfolio-card-tech-icons {
  display: grid;
  grid-gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 3rem); }

.portfolio-card-tech-icon {
  border: black;
  border-radius: 3px;
  width: 3rem;
  justify-self: center;
  transition: all .3s; }
  .portfolio-card-tech-icon:hover {
    transform: translateY(-0.2rem) scale(1.03);
    filter: brightness(70%); }

.portfolio-card-icon {
  width: 3rem;
  justify-self: center;
  cursor: pointer;
  transition: all .3s; }
  .portfolio-card-icon:hover {
    transform: translateY(-0.2rem) scale(1.03);
    filter: brightness(70%); }
  .portfolio-card-icon:active {
    transform: translateY(-0.1rem) scale(1.01); }

.portfolio-card-line {
  justify-self: center;
  width: 100%;
  height: 1.5rem; }

.skills {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 5rem 0; }

#hexGrid {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  width: 90%;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  padding-top: 5rem;
  padding-right: 2rem; }

.hex {
  position: relative;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  transition: all .3s; }
  .hex:hover {
    transform: translateY(-0.5rem) scale(1.03);
    filter: brightness(70%);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2); }

.hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
  /* =  100 / tan(60) * 1.5 */ }

.hexIn {
  position: absolute;
  width: 96%;
  padding-bottom: 110.851%;
  /* =  width / sin(60) */
  margin: 0 2%;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg); }

.hexIn * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
  /* fix for jagged edges in FF on hover transition */
  background-color: #87c8b2; }

.hexImage {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  background-color: 0;
  outline: 1px solid transparent;
  overflow: hidden;
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg); }

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width: 750px) {
  /* <- 7-6  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%; }
  .hex {
    width: 14.2857%;
    /* = 100 / 6 */ }
  .hex:nth-child(13n+8) {
    /* first hexagon of even rows */
    margin-left: 7.14285%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 750px) and (min-width: 600px) {
  /* <- 6-5  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%; }
  .hex {
    width: 16.6666666667%;
    /* = 100 / 6 */ }
  .hex:nth-child(11n+7) {
    /* first hexagon of even rows */
    margin-left: 8.33333333333%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 600px) and (min-width: 500px) {
  /* <- 5-4  hexagons per row */
  #hexGrid {
    padding-bottom: 4.4%; }
  .hex {
    width: 20%;
    /* = 100 / 5 */ }
  .hex:nth-child(9n+6) {
    /* first hexagon of even rows */
    margin-left: 10%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 500px) and (min-width: 420px) {
  /* <- 4-3  hexagons per row */
  #hexGrid {
    padding-bottom: 5.5%; }
  .hex {
    width: 25%;
    /* = 100 / 4 */ }
  .hex:nth-child(7n+5) {
    /* first hexagon of even rows */
    margin-left: 12.5%;
    /* = width of .hex / 2  to indent even rows */ } }

@media (max-width: 420px) and (min-width: 300px) {
  /* <- 3-2  hexagons per row */
  #hexGrid {
    padding-bottom: 7.4%; }
  .hex {
    width: 33.333%;
    /* = 100 / 3 */ }
  .hex:nth-child(5n+4) {
    /* first hexagon of even rows */
    margin-left: 16.666%;
    /* = width of .hex / 2  to indent even rows */ } }

.B {
  fill-rule: evenodd; }

.C {
  fill: #dcd9d8; }

.D {
  fill: #d33833; }

.E {
  fill: #231f20; }

.F {
  fill: #f7e4cd; }

.G {
  stroke: #d33833; }

.H {
  stroke-width: .257; }

.testimonials {
  display: grid;
  grid-column: content-start / content-end;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 0.3fr));
  justify-content: center; }

.testimonial-card {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-gap: 3rem;
  padding: 4rem; }

.testimonial-headshot {
  width: 15rem;
  border-radius: 50%;
  justify-self: center;
  align-self: center; }

.testimonial-name,
.testimonial-title {
  font-weight: bold; }
