.portfolio-card{
    background-color: $color-secondary;
    display: grid;
    grid-template-rows: 20rem;
    border-radius: 1rem;
    border: solid black 1px;
    color: $color-title-text;

    transition: all .3s;
  
    &:hover {
      transform: translateY(-.1rem) scale(1.005); 
      filter: brightness(95%);
      box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: .2);
  }
}

.portfolio-card-image {
    width: 90%;
    height: 90%;
    justify-self: center;
    align-self: center;
    background-size: cover;
    grid-column: 1/-1;
    z-index: 55;
    border-radius: 1rem;
}

.portfolio-card-display {
    display: grid;
    grid-template-rows: 1fr min-content 2fr;
    border-radius: 1rem;
}

.portfolio-card-content{
    padding: 0 2rem 2rem;
    display: grid;
    grid-gap: 1rem;
    font-size: 1.2rem;
}

.portfolio-card-title {
    justify-self: center;
    font-size: 2rem;
}

.portfolio-card-links {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: min-content 1fr;
}

.portfolio-card-links-icons {
    display: grid;
    padding: 0 5rem;
    grid-template-columns: 1fr 1fr;
}

.portfolio-card-technologies {
    display: grid;
    padding-top: 1.5rem;
    grid-gap: 1.5rem;
    justify-content: center;
    grid-template-columns: min-content 1fr;
}

.portfolio-card-tech-icons {
    display: grid;
    grid-gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 3rem);
}

.portfolio-card-tech-icon {
    border: black;
    border-radius: 3px;
    width: 3rem;
    justify-self: center;
    transition: all .3s;
  
    &:hover {
      transform: translateY(-.2rem) scale(1.03); 
      filter: brightness(70%);  
  }

}

.portfolio-card-icon {
    width: 3rem;
    justify-self: center;
    cursor: pointer;
    transition: all .3s;
  
    &:hover {
      transform: translateY(-.2rem) scale(1.03); 
      filter: brightness(70%);
  }
  &:active {
    transform: translateY(-.1rem) scale(1.01);
  }
}

.portfolio-card-line {
    justify-self: center;
    width: 100%;
    height: 1.5rem;
}