.testimonial-card {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-gap: 3rem;
    padding: 4rem;
}

.testimonial-headshot {
    width: 15rem;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.testimonial-name,
.testimonial-title{
    font-weight: bold;
}