.text-container{
    display: grid;
    grid-column: content-start/ content-end;
    margin: 5rem 0;
}

.text-container-title {
    font-size: 4rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-top: 3rem;
}

.content-large {
    font-size: 4rem;
    line-height: 12rem;
}